.about {
  display: flex;
  flex-direction: row;
}

.about-content {
  position: relative;
  left: 10em;
}
.about-content h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 5em;
  text-align: left;
}
.about-content p {
  font-size: 1.3em;
  text-align: left;
  width: 37em;
}
.about img {
  margin-left: 5em;
  /* object-fit: contain; */
  /* height: 95vh; */
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .about {
    position: relative;
    display: flex;
    top: -30em;
  }
  .about img {
    display: none;
  }
  .about-content {
    left: 2em;
  }
  .about-content p {
    font-size: 3.5em;
    text-align: left;
    width: 300px;
  }
}
