.project img {
  width: 30em;
  /* height: 30em; */
  object-fit: contain;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .project img {
    width: 50em;
    /* height: 45em; */
    object-fit: contain;
  }
}
