.work {
  position: relative;
  display: flex;
  flex-direction: column;
  left: 15em;
  top: 8em;
  align-items: flex-start;
}
.work .heading {
  font-family: "Montserrat", sans-serif;
  font-size: 5em;
  text-align: left;
}
.work .work-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .work {
    left: 2em;
    top: 2em;
    align-items: flex-start;
    justify-content: center;
  }
  .work .work-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5em;
  }
}
